## Transposing the direction of a DataFrame operation

- Many DataFrame methods have an `axis` parameter
- This important parameter controls the direction in which the operation takes place
- Axis parameters can only be one of two values, either 0 or 1, and are aliased respectively as the strings *index* and *columns*

In [2]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 40

In [3]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

- Now that the DataFrame contains homogenous column data, operations can be sensibly done both vertically and horizontally
- The `count` method returns the number of non-missing values
- By default, its `axis` parameter is set to 0:

In [8]:
# college_ugds_.count(axis=0)
# college_ugds_.count(axis='index')
college_ugds_.count()

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

- Changing the `axis` parameter to 1/columns transposes the operation so that each row of data has a count of its non-missing values:

In [10]:
college_ugds_.count(axis='columns').head()

INSTNM
Alabama A & M University               9
University of Alabama at Birmingham    9
Amridge University                     9
University of Alabama in Huntsville    9
Alabama State University               9
dtype: int64

- Instead of counting non-missing  values, we can sum all the values in each row
- Each row of percentages should add up to 1

In [11]:
college_ugds_.sum(axis='columns').head()

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
University of Alabama in Huntsville    1.0000
Alabama State University               1.0000
dtype: float64

- To get an idea of the distribution of each column, the `median` method can be used

In [12]:
college_ugds_.median(axis='index')

UGDS_WHITE    0.55570
UGDS_BLACK    0.10005
UGDS_HISP     0.07140
UGDS_ASIAN    0.01290
UGDS_AIAN     0.00260
UGDS_NHPI     0.00000
UGDS_2MOR     0.01750
UGDS_NRA      0.00000
UGDS_UNKN     0.01430
dtype: float64

## How it works...

- Many novice pandas users have difficulty remembering the meaning of the `axis` parameter
- Luckily, there are only two potential directions until achieving the desired result is one possibility
- Meaning of the `axis` parameter by thinking of 1 as looking like a column
- Any operation with `axis=1` returns a new column of data(has the same number of items that column does)

## There's more...

- The `cumsum` method with `axis=1` accumulates the race percentrages across each row

In [13]:
# By default, iterates over rows and finds the sum in each column. This is equivalent to axis=None or axis='index'.
college_ugds_cumsum = college_ugds_.cumsum(axis=1)
college_ugds_cumsum.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000
University of Alabama in Huntsville,0.6988,0.8243,0.8625,0.9001,0.9144,0.9146,0.9318,0.9650,1.0000
Alabama State University,0.0158,0.9366,0.9487,0.9506,0.9516,0.9522,0.9620,0.9863,1.0000